body{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(206, 206, 206);
}

/*Diseño header*/

.headerDiv{
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    
}

/*Diseño main pagina home*/

.mainDiv{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 550px;
    margin-right: 550px;
    background-color: rgb(36, 36, 36);
    flex-direction: column;
    border-radius: 10px;
}

/*Diseño main pagina about us*/

.aboutUsDiv{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 550px;
    margin-right: 550px;
    background-color: rgb(36, 36, 36);
    flex-direction: column;
    border-radius: 10px;
}

/*Diseño Footer*/ 

.footerDiv{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    position: absolute;
    bottom:1%;
    left: 42%;
}

/*Diseño nombre en la pagina home*/

#name{
    display: flex;
    justify-content: center;
    color: white;
}

/*Diseño info en la pagina about us*/

#info{
    display: flex;
    justify-content: center;
    color: white;
}

/*Diseño imagenes*/

#img1{
    width: 650px;
    padding-left: 75px;
}

#img1:hover{
    filter: contrast(200%)
}

#img2{  
    width: 650px;
    padding-left: 75px;
}

#img2:hover{
    filter: grayscale(100%)
}

/*Diseño botones*/

.buttons{
    background-color: rgb(24, 24, 24);
    color: white;
    width: 80px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
    border-radius: 5px;
}

/*Diseño formulario de pagina contacto*/

#contactForm{
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 48, 48);
    width: 500px;
    height: 600px;
    align-items: center;
    border: solid 2px black;
}

#contactDiv{
    display: flex;
    justify-content: center;
    
}

#nameContact{
    color: white;
}
#emailContact{
    color: white;
}
#msgContact{
    color: white;
}

#msgForm{
    border: solid 2px black;
    height:260px;
    width:300px;
    text-align: center;
}
#nameForm{
    border: solid 2px black;
    height:20px;
    width:300px;
}
#mailForm{
    border: solid 2px black;
    height:20px;
    width:300px;
    
}
#submitBtn{
    margin-top: 30px;
    background-color: rgb(24, 24, 24);
    color: white;
    width: 80px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
    border-radius: 5px;
    margin-bottom: 30px;
}

/*Diseño contenedor pagina counter*/
#counterText{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size:30px
}

#counterButtons{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#counterMain{
    padding-top: 60px;
}

/*Diseño pagina counter image*/

#counterImageText{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size:30px
}

#counterImageMain{
    padding-top: 60px;
}

#counterImageButtons{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

#img3{
    width: 350px;
}

.activo{
    filter: grayscale(1);
}

/*Diseño pagina boton on off*/

.ImagenCard1{
    padding-top: 40px;
    padding-left: 30px;
    width: 400px;
    height: 200px;
    padding-bottom: 30px;
}

.ImagenCard2{
    padding-top: 40px;
    padding-left: 30px;
    width: 400px;
    height: 200px;
    padding-bottom: 30px;
}
.ImagenCard3{
    padding-top: 40px;
    padding-left: 30px;
    width: 400px;
    height: 200px;
    filter: grayscale(100%);
    padding-bottom: 30px;
}
.ImagenCard4{
    padding-top: 40px;
    padding-left: 30px;
    width: 400px;
    height: 200px;
    filter: grayscale(100%);
    padding-bottom: 30px;
}

#divCards{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#card1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
#card2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.buttons:hover{
    box-shadow:
    0 0 5px rgb(66, 66, 66),
    0 0 10px rgb(51, 51, 51),
    0 0 20px rgb(96, 97, 97);
}

.buttons2{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 80px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
    border-radius: 5px;
}

.buttons2:hover{
    box-shadow:
    0 0 5px rgb(66, 66, 66),
    0 0 10px rgb(51, 51, 51),
    0 0 20px rgb(96, 97, 97);
}


/*Estilos del formulario login*/

#LoginForm{
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 48, 48);
    width: 500px;
    height: 600px;
    align-items: center;
    border: solid 2px black;
}

#LoginMain{
    display: flex;
    justify-content: center;
}

#loginTitle{
    color: white;
}

#loginName{
    margin-top: 50px;
    color: white;
}

#loginPassw{
    margin-top: 50px;
    color: white;
}

#loginNameInput{
    margin-top: 30px;
    border: solid 2px black;
    width: 200px;
    height: 30px;
}

#loginPasswInput{
    margin-top: 30px;
    border: solid 2px black;
    width: 200px;
    height: 30px;
}

#loginBtn{
    margin-top: 100px;
}